In [1]:
#Fuentes de referencia
co2Link='https://www.cia.gov/the-world-factbook/field/carbon-dioxide-emissions/country-comparison/'
areaLink='https://www.worldometers.info/world-population/population-by-country/'
precipitationLink='https://www.indexmundi.com/facts/indicators/AG.LND.PRCP.MM/rankings'

import pandas as pd
co2List=pd.read_html(co2Link,header=0,flavor='bs4')
areaList=pd.read_html(areaLink,header=0,flavor='bs4')
precipitationList=pd.read_html(precipitationLink,header=0,flavor='bs4')

In [39]:
co2=co2List[0]
area=areaList[0]
precipitation=precipitationList[0]

co2

,Rank,Country,metric tonnes of CO2,Date of Information
0,1,China,10773248000,2019 est.
1,2,United States,5144361000,2019 est.
2,3,India,2314738000,2019 est.
3,4,Russia,1848070000,2019 est.
4,5,Japan,1103234000,2019 est.
...,...,...,...,...
213,214,Antarctica,28000,2019 est.
214,215,"Saint Helena, Ascension, and Tristan da Cunha",13000,2019 est.
215,216,Niue,8000,2019 est.
216,217,Northern Mariana Islands,0,2019 est.
217,218,Tuvalu,0,2019 est.

In [3]:
co2.shape,area.shape,precipitation.shape

((218, 4), (234, 12), (179, 4))

In [4]:
co2.columns,area.columns,precipitation.columns

(Index(['Rank', 'Country', 'metric tonnes of CO2', 'Date of Information'], dtype='object'),
 Index(['#', 'Country (or dependency)', 'Population  (2023)', 'Yearly  Change',
        'Net  Change', 'Density  (P/Km²)', 'Land Area  (Km²)',
        'Migrants  (net)', 'Fert.  Rate', 'Med.  Age', 'Urban  Pop %',
        'World  Share'],
       dtype='object'),
 Index(['Rank', 'Country', 'Value', 'Year'], dtype='object'))

In [5]:
area.rename(columns={'Country (or dependency)': 'Country'}, inplace=True)

In [6]:
area

,#,Country,Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,India,1428627663,0.81 %,11454490,481,2973190,-486136,2.0,28.0,36 %,17.76 %
1,2,China,1425671352,-0.02 %,-215985,152,9388211,-310220,1.2,39.0,65 %,17.72 %
2,3,United States,339996563,0.50 %,1706706,37,9147420,999700,1.7,38.0,83 %,4.23 %
3,4,Indonesia,277534122,0.74 %,2032783,153,1811570,-49997,2.1,30.0,59 %,3.45 %
4,5,Pakistan,240485658,1.98 %,4660796,312,770880,-165988,3.3,21.0,35 %,2.99 %
...,...,...,...,...,...,...,...,...,...,...,...,...
229,230,Montserrat,4386,-0.09 %,-4,44,100,0,1.6,44.0,11 %,0.00 %
230,231,Falkland Islands,3791,0.29 %,11,0,12170,0,1.6,40.0,62 %,0.00 %
231,232,Niue,1935,0.05 %,1,7,260,0,2.4,36.0,41 %,0.00 %
232,233,Tokelau,1893,1.18 %,22,189,10,0,2.6,27.0,0 %,0.00 %
233,234,Holy See,518,1.57 %,8,1295,0,0,NaN,NaN,N.A.,0.00 %

In [7]:
co2.merge(area,how='inner',left_on='Country',right_on='Country').shape

(191, 15)

In [8]:
co2.merge(area,how='left',left_on='Country',right_on='Country').shape

(218, 15)

In [9]:
co2.merge(area,how='outer',left_on='Country',right_on='Country').shape

(261, 15)

In [10]:
co2.merge(precipitation,how='inner',left_on='Country',right_on='Country').shape

(161, 7)

In [11]:
co2.merge(precipitation,how='left',left_on='Country',right_on='Country').shape

(218, 7)

In [12]:
co2.merge(precipitation,how='outer',left_on='Country',right_on='Country').shape

(236, 7)

In [13]:
area.merge(precipitation,how='inner',left_on='Country',right_on='Country').shape

(165, 15)

In [14]:
area.merge(precipitation,how='left',left_on='Country',right_on='Country').shape

(234, 15)

In [15]:
area.merge(precipitation,how='outer',left_on='Country',right_on='Country').shape

(248, 15)

In [27]:
onlyco2=set(co2.Country)-set(area.Country)
onlyco2

{'Antarctica',
 'Bahamas, The',
 'Burma',
 'Congo, Democratic Republic of the',
 'Congo, Republic of the',
 "Cote d'Ivoire",
 'Czechia',
 'Falkland Islands (Islas Malvinas)',
 'Faroe Islands',
 'Gambia, The',
 'Gaza Strip',
 'Jersey',
 'Korea, North',
 'Korea, South',
 'Kosovo',
 'Macau',
 'Micronesia, Federated States of',
 'Saint Helena, Ascension, and Tristan da Cunha',
 'Saint Kitts and Nevis',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Sao Tome and Principe',
 'Turkey (Turkiye)',
 'Turks and Caicos Islands',
 'Virgin Islands',
 'Wake Island',
 'West Bank'}

In [28]:
onlyarea=set(area.Country)-set(co2.Country)
onlyarea

{'Andorra',
 'Anguilla',
 'Bahamas',
 'Caribbean Netherlands',
 'Congo',
 'Curaçao',
 'Czech Republic (Czechia)',
 "Côte d'Ivoire",
 'DR Congo',
 'Faeroe Islands',
 'Falkland Islands',
 'French Guiana',
 'Gambia',
 'Guadeloupe',
 'Holy See',
 'Isle of Man',
 'Liechtenstein',
 'Macao',
 'Martinique',
 'Mayotte',
 'Micronesia',
 'Monaco',
 'Myanmar',
 'North Korea',
 'Palau',
 'Réunion',
 'Saint Barthelemy',
 'Saint Helena',
 'Saint Kitts & Nevis',
 'Saint Martin',
 'Saint Pierre & Miquelon',
 'San Marino',
 'Sao Tome & Principe',
 'Sint Maarten',
 'South Korea',
 'St. Vincent & Grenadines',
 'State of Palestine',
 'Tokelau',
 'Turkey',
 'Turks and Caicos',
 'U.S. Virgin Islands',
 'Wallis & Futuna',
 'Western Sahara'}

In [18]:
set(co2.Country)-set(precipitation.Country)

{'American Samoa',
 'Antarctica',
 'Aruba',
 'Bahamas, The',
 'Bermuda',
 'British Virgin Islands',
 'Burma',
 'Cayman Islands',
 'Congo, Democratic Republic of the',
 'Congo, Republic of the',
 'Cook Islands',
 "Cote d'Ivoire",
 'Czechia',
 'Falkland Islands (Islas Malvinas)',
 'Faroe Islands',
 'French Polynesia',
 'Gambia, The',
 'Gaza Strip',
 'Gibraltar',
 'Greenland',
 'Guam',
 'Hong Kong',
 'Jersey',
 'Kiribati',
 'Korea, North',
 'Korea, South',
 'Kosovo',
 'Kyrgyzstan',
 'Laos',
 'Macau',
 'Maldives',
 'Marshall Islands',
 'Micronesia, Federated States of',
 'Montenegro',
 'Montserrat',
 'Nauru',
 'New Caledonia',
 'Niue',
 'Northern Mariana Islands',
 'Saint Helena, Ascension, and Tristan da Cunha',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Sao Tome and Principe',
 'Serbia',
 'Slovakia',
 'South Sudan',
 'Syria',
 'Taiwan',
 'Tonga',
 'Turkey (Turkiye)',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Virgin Islands',
 'Wake Island',
 'West Bank'}

In [19]:
set(precipitation.Country)-set(co2.Country)

{'Congo',
 'Czech Republic',
 "Côte d'Ivoire",
 "Dem. People's Rep. Korea",
 'Dem. Rep. Congo',
 'Korea',
 'Kyrgyz Republic',
 'Lao PDR',
 'Myanmar',
 'Slovak Republic',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Vincent and the Grenadines',
 'Syrian Arab Republic',
 'São Tomé and Principe',
 'The Bahamas',
 'The Gambia',
 'Turkey'}

In [20]:
set(precipitation.Country)-set(area.Country)

{'Czech Republic',
 "Dem. People's Rep. Korea",
 'Dem. Rep. Congo',
 'Korea',
 'Kyrgyz Republic',
 'Lao PDR',
 'Slovak Republic',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Vincent and the Grenadines',
 'Syrian Arab Republic',
 'São Tomé and Principe',
 'The Bahamas',
 'The Gambia'}

In [21]:
set(area.Country)-set(precipitation.Country)

{'American Samoa',
 'Andorra',
 'Anguilla',
 'Aruba',
 'Bahamas',
 'Bermuda',
 'British Virgin Islands',
 'Caribbean Netherlands',
 'Cayman Islands',
 'Cook Islands',
 'Curaçao',
 'Czech Republic (Czechia)',
 'DR Congo',
 'Faeroe Islands',
 'Falkland Islands',
 'French Guiana',
 'French Polynesia',
 'Gambia',
 'Gibraltar',
 'Greenland',
 'Guadeloupe',
 'Guam',
 'Holy See',
 'Hong Kong',
 'Isle of Man',
 'Kiribati',
 'Kyrgyzstan',
 'Laos',
 'Liechtenstein',
 'Macao',
 'Maldives',
 'Marshall Islands',
 'Martinique',
 'Mayotte',
 'Micronesia',
 'Monaco',
 'Montenegro',
 'Montserrat',
 'Nauru',
 'New Caledonia',
 'Niue',
 'North Korea',
 'Northern Mariana Islands',
 'Palau',
 'Réunion',
 'Saint Barthelemy',
 'Saint Helena',
 'Saint Kitts & Nevis',
 'Saint Lucia',
 'Saint Martin',
 'Saint Pierre & Miquelon',
 'San Marino',
 'Sao Tome & Principe',
 'Serbia',
 'Sint Maarten',
 'Slovakia',
 'South Korea',
 'South Sudan',
 'St. Vincent & Grenadines',
 'State of Palestine',
 'Syria',
 'Taiwan',
 'Tokelau',
 'Tonga',
 'Turks and Caicos',
 'Tuvalu',
 'U.S. Virgin Islands',
 'Wallis & Futuna',
 'Western Sahara'}

In [22]:
cia=co2.merge(area,left_on='Country',right_on='Country')
cia

,Rank,Country,metric tonnes of CO2,Date of Information,#,Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,10773248000,2019 est.,2,1425671352,-0.02 %,-215985,152,9388211,-310220,1.2,39.0,65 %,17.72 %
1,2,United States,5144361000,2019 est.,3,339996563,0.50 %,1706706,37,9147420,999700,1.7,38.0,83 %,4.23 %
2,3,India,2314738000,2019 est.,1,1428627663,0.81 %,11454490,481,2973190,-486136,2.0,28.0,36 %,17.76 %
3,4,Russia,1848070000,2019 est.,9,144444359,-0.19 %,-268955,9,16376870,-136414,1.5,39.0,75 %,1.80 %
4,5,Japan,1103234000,2019 est.,12,123294513,-0.53 %,-657179,338,364555,99994,1.3,49.0,94 %,1.53 %
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,211,Nauru,66000,2019 est.,224,12780,0.88 %,112,639,20,-140,3.4,20.0,88 %,0.00 %
187,213,Montserrat,33000,2019 est.,230,4386,-0.09 %,-4,44,100,0,1.6,44.0,11 %,0.00 %
188,216,Niue,8000,2019 est.,232,1935,0.05 %,1,7,260,0,2.4,36.0,41 %,0.00 %
189,217,Northern Mariana Islands,0,2019 est.,208,49796,0.49 %,245,108,460,-50,2.1,38.0,N.A.,0.00 %
190,218,Tuvalu,0,2019 est.,226,11396,0.74 %,84,380,30,-60,3.1,25.0,69 %,0.00 %

In [33]:
from thefuzz import process as fz
[(f,fz.extractOne(f,onlyco2)) for f in sorted(onlyarea)]

[('Andorra', ('Korea, North', 51)),
 ('Anguilla', ('Falkland Islands (Islas Malvinas)', 56)),
 ('Bahamas', ('Bahamas, The', 90)),
 ('Caribbean Netherlands', ('West Bank', 57)),
 ('Congo', ('Congo, Republic of the', 90)),
 ('Curaçao', ('Burma', 55)),
 ('Czech Republic (Czechia)', ('Czechia', 90)),
 ("Côte d'Ivoire", ("Cote d'Ivoire", 96)),
 ('DR Congo', ('Congo, Republic of the', 86)),
 ('Faeroe Islands', ('Faroe Islands', 96)),
 ('Falkland Islands', ('Falkland Islands (Islas Malvinas)', 90)),
 ('French Guiana', ('Faroe Islands', 54)),
 ('Gambia', ('Gambia, The', 90)),
 ('Guadeloupe', ('Saint Pierre and Miquelon', 51)),
 ('Holy See', ('Saint Helena, Ascension, and Tristan da Cunha', 43)),
 ('Isle of Man', ('Congo, Republic of the', 86)),
 ('Liechtenstein', ('Jersey', 45)),
 ('Macao', ('Macau', 80)),
 ('Martinique', ('Saint Pierre and Miquelon', 54)),
 ('Mayotte', ('Sao Tome and Principe', 49)),
 ('Micronesia', ('Micronesia, Federated States of', 90)),
 ('Monaco', ('Macau', 55)),
 ('Myanmar', ('Macau', 50)),
 ('North Korea', ('Korea, North', 95)),
 ('Palau', ('Macau', 60)),
 ('Réunion', ('Saint Helena, Ascension, and Tristan da Cunha', 60)),
 ('Saint Barthelemy', ('Saint Vincent and the Grenadines', 86)),
 ('Saint Helena', ('Saint Helena, Ascension, and Tristan da Cunha', 90)),
 ('Saint Kitts & Nevis', ('Saint Kitts and Nevis', 95)),
 ('Saint Martin', ('Saint Vincent and the Grenadines', 86)),
 ('Saint Pierre & Miquelon', ('Saint Pierre and Miquelon', 95)),
 ('San Marino', ('Faroe Islands', 58)),
 ('Sao Tome & Principe', ('Sao Tome and Principe', 95)),
 ('Sint Maarten', ('Macau', 54)),
 ('South Korea', ('Korea, South', 95)),
 ('St. Vincent & Grenadines', ('Saint Vincent and the Grenadines', 87)),
 ('State of Palestine', ('Micronesia, Federated States of', 86)),
 ('Tokelau', ('Sao Tome and Principe', 51)),
 ('Turkey', ('Turkey (Turkiye)', 90)),
 ('Turks and Caicos', ('Turks and Caicos Islands', 90)),
 ('U.S. Virgin Islands', ('Virgin Islands', 95)),
 ('Wallis & Futuna', ('Falkland Islands (Islas Malvinas)', 43)),
 ('Western Sahara', ('West Bank', 57))]

In [34]:
[(f,fz.extractOne(f ,onlyco2)) for f in sorted(onlyarea)
 if fz.extractOne(f ,onlyco2)[1]>=87]

[('Bahamas', ('Bahamas, The', 90)),
 ('Congo', ('Congo, Republic of the', 90)),
 ('Czech Republic (Czechia)', ('Czechia', 90)),
 ("Côte d'Ivoire", ("Cote d'Ivoire", 96)),
 ('Faeroe Islands', ('Faroe Islands', 96)),
 ('Falkland Islands', ('Falkland Islands (Islas Malvinas)', 90)),
 ('Gambia', ('Gambia, The', 90)),
 ('Micronesia', ('Micronesia, Federated States of', 90)),
 ('North Korea', ('Korea, North', 95)),
 ('Saint Helena', ('Saint Helena, Ascension, and Tristan da Cunha', 90)),
 ('Saint Kitts & Nevis', ('Saint Kitts and Nevis', 95)),
 ('Saint Pierre & Miquelon', ('Saint Pierre and Miquelon', 95)),
 ('Sao Tome & Principe', ('Sao Tome and Principe', 95)),
 ('South Korea', ('Korea, South', 95)),
 ('St. Vincent & Grenadines', ('Saint Vincent and the Grenadines', 87)),
 ('Turkey', ('Turkey (Turkiye)', 90)),
 ('Turks and Caicos', ('Turks and Caicos Islands', 90)),
 ('U.S. Virgin Islands', ('Virgin Islands', 95))]

In [37]:
cambioco2yarea = {f:fz.extractOne(f, onlyco2)[0] 
                 for f in sorted(onlyarea)
                 if fz.extractOne(f, onlyco2)[1] >=87}
cambioco2yarea

{'Bahamas': 'Bahamas, The',
 'Congo': 'Congo, Republic of the',
 'Czech Republic (Czechia)': 'Czechia',
 "Côte d'Ivoire": "Cote d'Ivoire",
 'Faeroe Islands': 'Faroe Islands',
 'Falkland Islands': 'Falkland Islands (Islas Malvinas)',
 'Gambia': 'Gambia, The',
 'Micronesia': 'Micronesia, Federated States of',
 'North Korea': 'Korea, North',
 'Saint Helena': 'Saint Helena, Ascension, and Tristan da Cunha',
 'Saint Kitts & Nevis': 'Saint Kitts and Nevis',
 'Saint Pierre & Miquelon': 'Saint Pierre and Miquelon',
 'Sao Tome & Principe': 'Sao Tome and Principe',
 'South Korea': 'Korea, South',
 'St. Vincent & Grenadines': 'Saint Vincent and the Grenadines',
 'Turkey': 'Turkey (Turkiye)',
 'Turks and Caicos': 'Turks and Caicos Islands',
 'U.S. Virgin Islands': 'Virgin Islands'}

In [40]:
co2['Country'].replace(cambioco2yarea, inplace=True)
co2

,Rank,Country,metric tonnes of CO2,Date of Information
0,1,China,10773248000,2019 est.
1,2,United States,5144361000,2019 est.
2,3,India,2314738000,2019 est.
3,4,Russia,1848070000,2019 est.
4,5,Japan,1103234000,2019 est.
...,...,...,...,...
213,214,Antarctica,28000,2019 est.
214,215,"Saint Helena, Ascension, and Tristan da Cunha",13000,2019 est.
215,216,Niue,8000,2019 est.
216,217,Northern Mariana Islands,0,2019 est.
217,218,Tuvalu,0,2019 est.

In [41]:
onlyco2=set(co2.Country)-set(area.Country)
onlyco2=set(area.Country)-set(co2.Country)
[(f,fz.extractOne(f, onlyco2)) for f in sorted(onlyarea)]

[('Andorra', ('Andorra', 100)),
 ('Anguilla', ('Anguilla', 100)),
 ('Bahamas', ('Bahamas', 100)),
 ('Caribbean Netherlands', ('Caribbean Netherlands', 100)),
 ('Congo', ('Congo', 100)),
 ('Curaçao', ('Curaçao', 100)),
 ('Czech Republic (Czechia)', ('Czech Republic (Czechia)', 100)),
 ("Côte d'Ivoire", ("Côte d'Ivoire", 100)),
 ('DR Congo', ('DR Congo', 100)),
 ('Faeroe Islands', ('Faeroe Islands', 100)),
 ('Falkland Islands', ('Falkland Islands', 100)),
 ('French Guiana', ('French Guiana', 100)),
 ('Gambia', ('Gambia', 100)),
 ('Guadeloupe', ('Guadeloupe', 100)),
 ('Holy See', ('Holy See', 100)),
 ('Isle of Man', ('Isle of Man', 100)),
 ('Liechtenstein', ('Liechtenstein', 100)),
 ('Macao', ('Macao', 100)),
 ('Martinique', ('Martinique', 100)),
 ('Mayotte', ('Mayotte', 100)),
 ('Micronesia', ('Micronesia', 100)),
 ('Monaco', ('Monaco', 100)),
 ('Myanmar', ('Myanmar', 100)),
 ('North Korea', ('North Korea', 100)),
 ('Palau', ('Palau', 100)),
 ('Réunion', ('Réunion', 100)),
 ('Saint Barthelemy', ('Saint Barthelemy', 100)),
 ('Saint Helena', ('Saint Helena', 100)),
 ('Saint Kitts & Nevis', ('Saint Kitts & Nevis', 100)),
 ('Saint Martin', ('Saint Martin', 100)),
 ('Saint Pierre & Miquelon', ('Saint Pierre & Miquelon', 100)),
 ('San Marino', ('San Marino', 100)),
 ('Sao Tome & Principe', ('Sao Tome & Principe', 100)),
 ('Sint Maarten', ('Sint Maarten', 100)),
 ('South Korea', ('South Korea', 100)),
 ('St. Vincent & Grenadines', ('St. Vincent & Grenadines', 100)),
 ('State of Palestine', ('State of Palestine', 100)),
 ('Tokelau', ('Tokelau', 100)),
 ('Turkey', ('Turkey', 100)),
 ('Turks and Caicos', ('Turks and Caicos', 100)),
 ('U.S. Virgin Islands', ('U.S. Virgin Islands', 100)),
 ('Wallis & Futuna', ('Wallis & Futuna', 100)),
 ('Western Sahara', ('Western Sahara', 100))]

In [42]:
#95
[(f,fz.extractOne(f ,onlyco2)) for f in sorted(onlyarea)
 if fz.extractOne(f ,onlyco2)[1]>=87]

[('Andorra', ('Andorra', 100)),
 ('Anguilla', ('Anguilla', 100)),
 ('Bahamas', ('Bahamas', 100)),
 ('Caribbean Netherlands', ('Caribbean Netherlands', 100)),
 ('Congo', ('Congo', 100)),
 ('Curaçao', ('Curaçao', 100)),
 ('Czech Republic (Czechia)', ('Czech Republic (Czechia)', 100)),
 ("Côte d'Ivoire", ("Côte d'Ivoire", 100)),
 ('DR Congo', ('DR Congo', 100)),
 ('Faeroe Islands', ('Faeroe Islands', 100)),
 ('Falkland Islands', ('Falkland Islands', 100)),
 ('French Guiana', ('French Guiana', 100)),
 ('Gambia', ('Gambia', 100)),
 ('Guadeloupe', ('Guadeloupe', 100)),
 ('Holy See', ('Holy See', 100)),
 ('Isle of Man', ('Isle of Man', 100)),
 ('Liechtenstein', ('Liechtenstein', 100)),
 ('Macao', ('Macao', 100)),
 ('Martinique', ('Martinique', 100)),
 ('Mayotte', ('Mayotte', 100)),
 ('Micronesia', ('Micronesia', 100)),
 ('Monaco', ('Monaco', 100)),
 ('Myanmar', ('Myanmar', 100)),
 ('North Korea', ('North Korea', 100)),
 ('Palau', ('Palau', 100)),
 ('Réunion', ('Réunion', 100)),
 ('Saint Barthelemy', ('Saint Barthelemy', 100)),
 ('Saint Helena', ('Saint Helena', 100)),
 ('Saint Kitts & Nevis', ('Saint Kitts & Nevis', 100)),
 ('Saint Martin', ('Saint Martin', 100)),
 ('Saint Pierre & Miquelon', ('Saint Pierre & Miquelon', 100)),
 ('San Marino', ('San Marino', 100)),
 ('Sao Tome & Principe', ('Sao Tome & Principe', 100)),
 ('Sint Maarten', ('Sint Maarten', 100)),
 ('South Korea', ('South Korea', 100)),
 ('St. Vincent & Grenadines', ('St. Vincent & Grenadines', 100)),
 ('State of Palestine', ('State of Palestine', 100)),
 ('Tokelau', ('Tokelau', 100)),
 ('Turkey', ('Turkey', 100)),
 ('Turks and Caicos', ('Turks and Caicos', 100)),
 ('U.S. Virgin Islands', ('U.S. Virgin Islands', 100)),
 ('Wallis & Futuna', ('Wallis & Futuna', 100)),
 ('Western Sahara', ('Western Sahara', 100))]

In [43]:
cambioco2yarea= {f:fz.extractOne(f, onlyco2)[0] 
                 for f in sorted(onlyarea)
                 if fz.extractOne(f, onlyco2)[1] >=87}
cambioco2yarea

{'Andorra': 'Andorra',
 'Anguilla': 'Anguilla',
 'Bahamas': 'Bahamas',
 'Caribbean Netherlands': 'Caribbean Netherlands',
 'Congo': 'Congo',
 'Curaçao': 'Curaçao',
 'Czech Republic (Czechia)': 'Czech Republic (Czechia)',
 "Côte d'Ivoire": "Côte d'Ivoire",
 'DR Congo': 'DR Congo',
 'Faeroe Islands': 'Faeroe Islands',
 'Falkland Islands': 'Falkland Islands',
 'French Guiana': 'French Guiana',
 'Gambia': 'Gambia',
 'Guadeloupe': 'Guadeloupe',
 'Holy See': 'Holy See',
 'Isle of Man': 'Isle of Man',
 'Liechtenstein': 'Liechtenstein',
 'Macao': 'Macao',
 'Martinique': 'Martinique',
 'Mayotte': 'Mayotte',
 'Micronesia': 'Micronesia',
 'Monaco': 'Monaco',
 'Myanmar': 'Myanmar',
 'North Korea': 'North Korea',
 'Palau': 'Palau',
 'Réunion': 'Réunion',
 'Saint Barthelemy': 'Saint Barthelemy',
 'Saint Helena': 'Saint Helena',
 'Saint Kitts & Nevis': 'Saint Kitts & Nevis',
 'Saint Martin': 'Saint Martin',
 'Saint Pierre & Miquelon': 'Saint Pierre & Miquelon',
 'San Marino': 'San Marino',
 'Sao Tome & Principe': 'Sao Tome & Principe',
 'Sint Maarten': 'Sint Maarten',
 'South Korea': 'South Korea',
 'St. Vincent & Grenadines': 'St. Vincent & Grenadines',
 'State of Palestine': 'State of Palestine',
 'Tokelau': 'Tokelau',
 'Turkey': 'Turkey',
 'Turks and Caicos': 'Turks and Caicos',
 'U.S. Virgin Islands': 'U.S. Virgin Islands',
 'Wallis & Futuna': 'Wallis & Futuna',
 'Western Sahara': 'Western Sahara'}

In [44]:
co2["Country"].replace(to_replace=cambioco2yarea, inplace=True)
co2

,Rank,Country,metric tonnes of CO2,Date of Information
0,1,China,10773248000,2019 est.
1,2,United States,5144361000,2019 est.
2,3,India,2314738000,2019 est.
3,4,Russia,1848070000,2019 est.
4,5,Japan,1103234000,2019 est.
...,...,...,...,...
213,214,Antarctica,28000,2019 est.
214,215,"Saint Helena, Ascension, and Tristan da Cunha",13000,2019 est.
215,216,Niue,8000,2019 est.
216,217,Northern Mariana Islands,0,2019 est.
217,218,Tuvalu,0,2019 est.

In [45]:
merge0 =co2.merge(area,left_on='Country',right_on='Country')
merge0

,Rank,Country,metric tonnes of CO2,Date of Information,#,Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,10773248000,2019 est.,2,1425671352,-0.02 %,-215985,152,9388211,-310220,1.2,39.0,65 %,17.72 %
1,2,United States,5144361000,2019 est.,3,339996563,0.50 %,1706706,37,9147420,999700,1.7,38.0,83 %,4.23 %
2,3,India,2314738000,2019 est.,1,1428627663,0.81 %,11454490,481,2973190,-486136,2.0,28.0,36 %,17.76 %
3,4,Russia,1848070000,2019 est.,9,144444359,-0.19 %,-268955,9,16376870,-136414,1.5,39.0,75 %,1.80 %
4,5,Japan,1103234000,2019 est.,12,123294513,-0.53 %,-657179,338,364555,99994,1.3,49.0,94 %,1.53 %
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,211,Nauru,66000,2019 est.,224,12780,0.88 %,112,639,20,-140,3.4,20.0,88 %,0.00 %
187,213,Montserrat,33000,2019 est.,230,4386,-0.09 %,-4,44,100,0,1.6,44.0,11 %,0.00 %
188,216,Niue,8000,2019 est.,232,1935,0.05 %,1,7,260,0,2.4,36.0,41 %,0.00 %
189,217,Northern Mariana Islands,0,2019 est.,208,49796,0.49 %,245,108,460,-50,2.1,38.0,N.A.,0.00 %
190,218,Tuvalu,0,2019 est.,226,11396,0.74 %,84,380,30,-60,3.1,25.0,69 %,0.00 %

In [46]:
Onlymerge0=set(merge0.Country)-set(precipitation.Country)
Onlyprecipitation=set(precipitation.Country)-set(merge0.Country)
[(f,fz.extractOne(f, Onlymerge0)) for f in sorted(Onlyprecipitation)]

[('Congo', ('Tonga', 60)),
 ('Czech Republic', ('French Polynesia', 47)),
 ("Côte d'Ivoire", ('New Caledonia', 46)),
 ("Dem. People's Rep. Korea", ('Laos', 45)),
 ('Dem. Rep. Congo', ('Tonga', 54)),
 ('Korea', ('Kiribati', 46)),
 ('Kyrgyz Republic', ('Kyrgyzstan', 54)),
 ('Lao PDR', ('Laos', 68)),
 ('Myanmar', ('Northern Mariana Islands', 51)),
 ('Slovak Republic', ('Slovakia', 74)),
 ('St. Kitts and Nevis', ('Marshall Islands', 46)),
 ('St. Lucia', ('Saint Lucia', 80)),
 ('St. Vincent and the Grenadines', ('Greenland', 57)),
 ('Syrian Arab Republic', ('Syria', 90)),
 ('São Tomé and Principe', ('Tonga', 54)),
 ('The Bahamas', ('Northern Mariana Islands', 50)),
 ('The Gambia', ('Guam', 68)),
 ('Turkey', ('Niue', 45))]

In [47]:
[(f,fz.extractOne(f ,Onlymerge0)) for f in sorted(Onlyprecipitation)
 if fz.extractOne(f ,Onlymerge0)[1]>=87]

[('Syrian Arab Republic', ('Syria', 90))]

In [48]:
cambiomarge0yprecipitation = {f:fz.extractOne(f, Onlymerge0)[0] 
                 for f in sorted(Onlyprecipitation)
                 if fz.extractOne(f, Onlymerge0)[1] >=87}
cambiomarge0yprecipitation

{'Syrian Arab Republic': 'Syria'}

In [49]:
merge0["Country"].replace(to_replace=cambiomarge0yprecipitation, inplace=True)
merge0

,Rank,Country,metric tonnes of CO2,Date of Information,#,Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,10773248000,2019 est.,2,1425671352,-0.02 %,-215985,152,9388211,-310220,1.2,39.0,65 %,17.72 %
1,2,United States,5144361000,2019 est.,3,339996563,0.50 %,1706706,37,9147420,999700,1.7,38.0,83 %,4.23 %
2,3,India,2314738000,2019 est.,1,1428627663,0.81 %,11454490,481,2973190,-486136,2.0,28.0,36 %,17.76 %
3,4,Russia,1848070000,2019 est.,9,144444359,-0.19 %,-268955,9,16376870,-136414,1.5,39.0,75 %,1.80 %
4,5,Japan,1103234000,2019 est.,12,123294513,-0.53 %,-657179,338,364555,99994,1.3,49.0,94 %,1.53 %
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,211,Nauru,66000,2019 est.,224,12780,0.88 %,112,639,20,-140,3.4,20.0,88 %,0.00 %
187,213,Montserrat,33000,2019 est.,230,4386,-0.09 %,-4,44,100,0,1.6,44.0,11 %,0.00 %
188,216,Niue,8000,2019 est.,232,1935,0.05 %,1,7,260,0,2.4,36.0,41 %,0.00 %
189,217,Northern Mariana Islands,0,2019 est.,208,49796,0.49 %,245,108,460,-50,2.1,38.0,N.A.,0.00 %
190,218,Tuvalu,0,2019 est.,226,11396,0.74 %,84,380,30,-60,3.1,25.0,69 %,0.00 %

In [50]:
merge1 = merge0.merge(precipitation,left_on='Country',right_on='Country')
merge1

,Rank_x,Country,metric tonnes of CO2,Date of Information,#,Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,Rank_y,Value,Year
0,1,China,10773248000,2019 est.,2,1425671352,-0.02 %,-215985,152,9388211,-310220,1.2,39.0,65 %,17.72 %,121,645.0,2017
1,2,United States,5144361000,2019 est.,3,339996563,0.50 %,1706706,37,9147420,999700,1.7,38.0,83 %,4.23 %,110,715.0,2017
2,3,India,2314738000,2019 est.,1,1428627663,0.81 %,11454490,481,2973190,-486136,2.0,28.0,36 %,17.76 %,86,1083.0,2017
3,4,Russia,1848070000,2019 est.,9,144444359,-0.19 %,-268955,9,16376870,-136414,1.5,39.0,75 %,1.80 %,144,460.0,2017
4,5,Japan,1103234000,2019 est.,12,123294513,-0.53 %,-657179,338,364555,99994,1.3,49.0,94 %,1.53 %,47,1668.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,195,Comoros,326000,2019 est.,163,852075,1.83 %,15301,458,1861,-2000,3.8,20.0,33 %,0.01 %,97,900.0,2017
157,196,Grenada,316000,2019 est.,194,126183,0.59 %,745,371,340,-200,2.0,32.0,32 %,0.00 %,17,2350.0,2014
158,198,Central African Republic,285000,2019 est.,117,5742315,2.92 %,163171,9,622980,-14716,5.8,15.0,40 %,0.07 %,67,1343.0,2017
159,201,Vanuatu,225000,2019 est.,183,334506,2.38 %,7766,27,12190,0,3.7,20.0,24 %,0.00 %,33,2000.0,2017
160,203,Dominica,182000,2019 est.,203,73040,0.42 %,303,97,750,-40,1.6,32.0,75 %,0.00 %,28,2083.0,2017

In [52]:
#104
import os
country_isosLink='https://github.com/IntroCDE2023/EVALUACION-01/raw/main/country_isos.xlsx'
country_isos=pd.read_excel(os.path.join('country_isos.xlsx'))
country_isos

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [53]:
merge1['Country'] = merge1['Country'].str.upper()
merge1

,Rank_x,Country,metric tonnes of CO2,Date of Information,#,Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,Rank_y,Value,Year
0,1,CHINA,10773248000,2019 est.,2,1425671352,-0.02 %,-215985,152,9388211,-310220,1.2,39.0,65 %,17.72 %,121,645.0,2017
1,2,UNITED STATES,5144361000,2019 est.,3,339996563,0.50 %,1706706,37,9147420,999700,1.7,38.0,83 %,4.23 %,110,715.0,2017
2,3,INDIA,2314738000,2019 est.,1,1428627663,0.81 %,11454490,481,2973190,-486136,2.0,28.0,36 %,17.76 %,86,1083.0,2017
3,4,RUSSIA,1848070000,2019 est.,9,144444359,-0.19 %,-268955,9,16376870,-136414,1.5,39.0,75 %,1.80 %,144,460.0,2017
4,5,JAPAN,1103234000,2019 est.,12,123294513,-0.53 %,-657179,338,364555,99994,1.3,49.0,94 %,1.53 %,47,1668.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,195,COMOROS,326000,2019 est.,163,852075,1.83 %,15301,458,1861,-2000,3.8,20.0,33 %,0.01 %,97,900.0,2017
157,196,GRENADA,316000,2019 est.,194,126183,0.59 %,745,371,340,-200,2.0,32.0,32 %,0.00 %,17,2350.0,2014
158,198,CENTRAL AFRICAN REPUBLIC,285000,2019 est.,117,5742315,2.92 %,163171,9,622980,-14716,5.8,15.0,40 %,0.07 %,67,1343.0,2017
159,201,VANUATU,225000,2019 est.,183,334506,2.38 %,7766,27,12190,0,3.7,20.0,24 %,0.00 %,33,2000.0,2017
160,203,DOMINICA,182000,2019 est.,203,73040,0.42 %,303,97,750,-40,1.6,32.0,75 %,0.00 %,28,2083.0,2017

In [54]:
Onlymarge1=set(merge1.Country)-set(country_isos.Country)
Onlycountry_isos=set(country_isos.Country)-set(merge1.Country)
[(f,fz.extractOne(f, onlyco2)) for f in sorted(onlyarea)]

[('Andorra', ('Andorra', 100)),
 ('Anguilla', ('Anguilla', 100)),
 ('Bahamas', ('Bahamas', 100)),
 ('Caribbean Netherlands', ('Caribbean Netherlands', 100)),
 ('Congo', ('Congo', 100)),
 ('Curaçao', ('Curaçao', 100)),
 ('Czech Republic (Czechia)', ('Czech Republic (Czechia)', 100)),
 ("Côte d'Ivoire", ("Côte d'Ivoire", 100)),
 ('DR Congo', ('DR Congo', 100)),
 ('Faeroe Islands', ('Faeroe Islands', 100)),
 ('Falkland Islands', ('Falkland Islands', 100)),
 ('French Guiana', ('French Guiana', 100)),
 ('Gambia', ('Gambia', 100)),
 ('Guadeloupe', ('Guadeloupe', 100)),
 ('Holy See', ('Holy See', 100)),
 ('Isle of Man', ('Isle of Man', 100)),
 ('Liechtenstein', ('Liechtenstein', 100)),
 ('Macao', ('Macao', 100)),
 ('Martinique', ('Martinique', 100)),
 ('Mayotte', ('Mayotte', 100)),
 ('Micronesia', ('Micronesia', 100)),
 ('Monaco', ('Monaco', 100)),
 ('Myanmar', ('Myanmar', 100)),
 ('North Korea', ('North Korea', 100)),
 ('Palau', ('Palau', 100)),
 ('Réunion', ('Réunion', 100)),
 ('Saint Barthelemy', ('Saint Barthelemy', 100)),
 ('Saint Helena', ('Saint Helena', 100)),
 ('Saint Kitts & Nevis', ('Saint Kitts & Nevis', 100)),
 ('Saint Martin', ('Saint Martin', 100)),
 ('Saint Pierre & Miquelon', ('Saint Pierre & Miquelon', 100)),
 ('San Marino', ('San Marino', 100)),
 ('Sao Tome & Principe', ('Sao Tome & Principe', 100)),
 ('Sint Maarten', ('Sint Maarten', 100)),
 ('South Korea', ('South Korea', 100)),
 ('St. Vincent & Grenadines', ('St. Vincent & Grenadines', 100)),
 ('State of Palestine', ('State of Palestine', 100)),
 ('Tokelau', ('Tokelau', 100)),
 ('Turkey', ('Turkey', 100)),
 ('Turks and Caicos', ('Turks and Caicos', 100)),
 ('U.S. Virgin Islands', ('U.S. Virgin Islands', 100)),
 ('Wallis & Futuna', ('Wallis & Futuna', 100)),
 ('Western Sahara', ('Western Sahara', 100))]

In [55]:
[(f,fz.extractOne(f ,Onlymarge1)) for f in sorted(Onlycountry_isos)
 if fz.extractOne(f ,Onlymarge1)[1]>=87]

[('BOLIVIA (PLURINATIONAL STATE OF)', ('BOLIVIA', 90)),
 ('BRUNEI DARUSSALAM', ('BRUNEI', 90)),
 ('CENTRAL AFRICAN REPUBLIC (THE)', ('CENTRAL AFRICAN REPUBLIC', 95)),
 ('COMOROS (THE)', ('COMOROS', 90)),
 ('DOMINICAN REPUBLIC (THE)', ('DOMINICAN REPUBLIC', 95)),
 ('IRAN (ISLAMIC REPUBLIC OF)', ('IRAN', 90)),
 ('MOLDOVA (THE REPUBLIC OF)', ('MOLDOVA', 90)),
 ('NETHERLANDS (THE)', ('NETHERLANDS', 95)),
 ('NIGER (THE)', ('NIGER', 90)),
 ('PHILIPPINES (THE)', ('PHILIPPINES', 95)),
 ('RUSSIAN FEDERATION (THE)', ('RUSSIA', 90)),
 ('SOUTH SUDAN', ('SUDAN', 90)),
 ('SUDAN (THE)', ('SUDAN', 90)),
 ('TANZANIA, THE UNITED REPUBLIC OF', ('TANZANIA', 90)),
 ('UNITED ARAB EMIRATES (THE)', ('UNITED ARAB EMIRATES', 95)),
 ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)',
  ('UNITED KINGDOM', 90)),
 ('UNITED STATES MINOR OUTLYING ISLANDS (THE)', ('UNITED STATES', 90)),
 ('VIET NAM', ('VIETNAM', 93))]

In [56]:
cambiocountryymerge1 = {f:fz.extractOne(f, Onlymarge1)[0] 
                 for f in sorted(Onlycountry_isos)
                 if fz.extractOne(f, Onlymarge1)[1] >=87}
cambiocountryymerge1

{'BOLIVIA (PLURINATIONAL STATE OF)': 'BOLIVIA',
 'BRUNEI DARUSSALAM': 'BRUNEI',
 'CENTRAL AFRICAN REPUBLIC (THE)': 'CENTRAL AFRICAN REPUBLIC',
 'COMOROS (THE)': 'COMOROS',
 'DOMINICAN REPUBLIC (THE)': 'DOMINICAN REPUBLIC',
 'IRAN (ISLAMIC REPUBLIC OF)': 'IRAN',
 'MOLDOVA (THE REPUBLIC OF)': 'MOLDOVA',
 'NETHERLANDS (THE)': 'NETHERLANDS',
 'NIGER (THE)': 'NIGER',
 'PHILIPPINES (THE)': 'PHILIPPINES',
 'RUSSIAN FEDERATION (THE)': 'RUSSIA',
 'SOUTH SUDAN': 'SUDAN',
 'SUDAN (THE)': 'SUDAN',
 'TANZANIA, THE UNITED REPUBLIC OF': 'TANZANIA',
 'UNITED ARAB EMIRATES (THE)': 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)': 'UNITED KINGDOM',
 'UNITED STATES MINOR OUTLYING ISLANDS (THE)': 'UNITED STATES',
 'VIET NAM': 'VIETNAM'}

In [57]:
merge1["Country"].replace(to_replace=cambiocountryymerge1 ,inplace=True)
merge1

,Rank_x,Country,metric tonnes of CO2,Date of Information,#,Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,Rank_y,Value,Year
0,1,CHINA,10773248000,2019 est.,2,1425671352,-0.02 %,-215985,152,9388211,-310220,1.2,39.0,65 %,17.72 %,121,645.0,2017
1,2,UNITED STATES,5144361000,2019 est.,3,339996563,0.50 %,1706706,37,9147420,999700,1.7,38.0,83 %,4.23 %,110,715.0,2017
2,3,INDIA,2314738000,2019 est.,1,1428627663,0.81 %,11454490,481,2973190,-486136,2.0,28.0,36 %,17.76 %,86,1083.0,2017
3,4,RUSSIA,1848070000,2019 est.,9,144444359,-0.19 %,-268955,9,16376870,-136414,1.5,39.0,75 %,1.80 %,144,460.0,2017
4,5,JAPAN,1103234000,2019 est.,12,123294513,-0.53 %,-657179,338,364555,99994,1.3,49.0,94 %,1.53 %,47,1668.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,195,COMOROS,326000,2019 est.,163,852075,1.83 %,15301,458,1861,-2000,3.8,20.0,33 %,0.01 %,97,900.0,2017
157,196,GRENADA,316000,2019 est.,194,126183,0.59 %,745,371,340,-200,2.0,32.0,32 %,0.00 %,17,2350.0,2014
158,198,CENTRAL AFRICAN REPUBLIC,285000,2019 est.,117,5742315,2.92 %,163171,9,622980,-14716,5.8,15.0,40 %,0.07 %,67,1343.0,2017
159,201,VANUATU,225000,2019 est.,183,334506,2.38 %,7766,27,12190,0,3.7,20.0,24 %,0.00 %,33,2000.0,2017
160,203,DOMINICA,182000,2019 est.,203,73040,0.42 %,303,97,750,-40,1.6,32.0,75 %,0.00 %,28,2083.0,2017

In [58]:
merge_result = country_isos.merge(merge1,left_on='Country',right_on='Country')
merge_result

,Country,Officialstatename,InternetccTLD,iso2,iso3,Rank_x,metric tonnes of CO2,Date of Information,#,Population (2023),...,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,Rank_y,Value,Year
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,117,7893000,2019 est.,36,42239854,...,65,652860,-65846,4.4,17.0,26 %,0.53 %,151,327.0,2017
1,ALBANIA,The Republic of Albania,.al,AL,ALB,144,3794000,2019 est.,138,2832439,...,103,27400,-8000,1.4,38.0,67 %,0.04 %,60,1485.0,2017
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,34,151633000,2019 est.,34,45606480,...,19,2381740,-9999,2.8,28.0,75 %,0.57 %,173,89.0,2017
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,84,19362000,2019 est.,42,36684202,...,29,1246700,-1000,5.1,16.0,68 %,0.46 %,95,1010.0,2017
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG,182,729000,2019 est.,200,94298,...,214,440,0,1.6,36.0,28 %,0.00 %,91,1030.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,URUGUAY,The Oriental Republic of Uruguay,.uy,UY,URY,129,6450000,2019 est.,135,3423108,...,20,175020,-1500,1.5,36.0,99 %,0.04 %,69,1300.0,2017
132,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,42,102965000,2019 est.,43,35163944,...,83,425400,-19999,2.8,27.0,49 %,0.44 %,165,206.0,2017
133,YEMEN,The Republic of Yemen,.ye,YE,YEM,105,10158000,2019 est.,44,34449825,...,65,527970,-29914,3.6,19.0,37 %,0.43 %,166,167.0,2017
134,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,127,6798000,2019 est.,63,20569737,...,28,743390,-5000,4.2,17.0,46 %,0.26 %,94,1020.0,2017
135,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,115,7902000,2019 est.,74,16665409,...,43,386850,-9999,3.4,18.0,37 %,0.21 %,118,657.0,2017

In [59]:
merge_result.columns

Index(['Country', 'Officialstatename', 'InternetccTLD', 'iso2', 'iso3',
       'Rank_x', 'metric tonnes of CO2', 'Date of Information', '#',
       'Population  (2023)', 'Yearly  Change', 'Net  Change',
       'Density  (P/Km²)', 'Land Area  (Km²)', 'Migrants  (net)',
       'Fert.  Rate', 'Med.  Age', 'Urban  Pop %', 'World  Share', 'Rank_y',
       'Value', 'Year'],
      dtype='object')

In [60]:
merge_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               136 non-null    object
 1   Officialstatename     136 non-null    object
 2   InternetccTLD         136 non-null    object
 3   iso2                  135 non-null    object
 4   iso3                  136 non-null    object
 5   Rank_x                136 non-null    int64
 6   metric tonnes of CO2  136 non-null    int64
 7   Date of Information   136 non-null    object
 8   #                     136 non-null    int64
 9   Population  (2023)    136 non-null    int64
 10  Yearly  Change        136 non-null    object
 11  Net  Change           136 non-null    int64
 12  Density  (P/Km²)      136 non-null    int64
 13  Land Area  (Km²)      136 non-null    int64
 14  Migrants  (net)       136 non-null    int64
 15  Fert.  Rate           136 non-null    float64
 16  Med.  Age             136 non-null    float64
 17  Urban  Pop %          136 non-null    object
 18  World  Share          136 non-null    object
 19  Rank_y                136 non-null    int64
 20  Value                 136 non-null    float64
 21  Year                  136 non-null    int64
dtypes: float64(3), int64(10), object(9)
memory usage: 23.5+ KB

In [61]:
merge_result1 = merge_result.applymap(lambda x: x.strip() if isinstance(x, str) else x)
merge_result1

,Country,Officialstatename,InternetccTLD,iso2,iso3,Rank_x,metric tonnes of CO2,Date of Information,#,Population (2023),...,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,Rank_y,Value,Year
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,117,7893000,2019 est.,36,42239854,...,65,652860,-65846,4.4,17.0,26 %,0.53 %,151,327.0,2017
1,ALBANIA,The Republic of Albania,.al,AL,ALB,144,3794000,2019 est.,138,2832439,...,103,27400,-8000,1.4,38.0,67 %,0.04 %,60,1485.0,2017
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,34,151633000,2019 est.,34,45606480,...,19,2381740,-9999,2.8,28.0,75 %,0.57 %,173,89.0,2017
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,84,19362000,2019 est.,42,36684202,...,29,1246700,-1000,5.1,16.0,68 %,0.46 %,95,1010.0,2017
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG,182,729000,2019 est.,200,94298,...,214,440,0,1.6,36.0,28 %,0.00 %,91,1030.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,URUGUAY,The Oriental Republic of Uruguay,.uy,UY,URY,129,6450000,2019 est.,135,3423108,...,20,175020,-1500,1.5,36.0,99 %,0.04 %,69,1300.0,2017
132,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,42,102965000,2019 est.,43,35163944,...,83,425400,-19999,2.8,27.0,49 %,0.44 %,165,206.0,2017
133,YEMEN,The Republic of Yemen,.ye,YE,YEM,105,10158000,2019 est.,44,34449825,...,65,527970,-29914,3.6,19.0,37 %,0.43 %,166,167.0,2017
134,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,127,6798000,2019 est.,63,20569737,...,28,743390,-5000,4.2,17.0,46 %,0.26 %,94,1020.0,2017
135,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,115,7902000,2019 est.,74,16665409,...,43,386850,-9999,3.4,18.0,37 %,0.21 %,118,657.0,2017

In [62]:
merge_result1['Officialstatename'] = merge_result1['Officialstatename'].str.replace(' ', '')
merge_result1

,Country,Officialstatename,InternetccTLD,iso2,iso3,Rank_x,metric tonnes of CO2,Date of Information,#,Population (2023),...,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,Rank_y,Value,Year
0,AFGHANISTAN,TheIslamicRepublicofAfghanistan,.af,AF,AFG,117,7893000,2019 est.,36,42239854,...,65,652860,-65846,4.4,17.0,26 %,0.53 %,151,327.0,2017
1,ALBANIA,TheRepublicofAlbania,.al,AL,ALB,144,3794000,2019 est.,138,2832439,...,103,27400,-8000,1.4,38.0,67 %,0.04 %,60,1485.0,2017
2,ALGERIA,ThePeople'sDemocraticRepublicofAlgeria,.dz,DZ,DZA,34,151633000,2019 est.,34,45606480,...,19,2381740,-9999,2.8,28.0,75 %,0.57 %,173,89.0,2017
3,ANGOLA,TheRepublicofAngola,.ao,AO,AGO,84,19362000,2019 est.,42,36684202,...,29,1246700,-1000,5.1,16.0,68 %,0.46 %,95,1010.0,2017
4,ANTIGUA AND BARBUDA,AntiguaandBarbuda,.ag,AG,ATG,182,729000,2019 est.,200,94298,...,214,440,0,1.6,36.0,28 %,0.00 %,91,1030.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,URUGUAY,TheOrientalRepublicofUruguay,.uy,UY,URY,129,6450000,2019 est.,135,3423108,...,20,175020,-1500,1.5,36.0,99 %,0.04 %,69,1300.0,2017
132,UZBEKISTAN,TheRepublicofUzbekistan,.uz,UZ,UZB,42,102965000,2019 est.,43,35163944,...,83,425400,-19999,2.8,27.0,49 %,0.44 %,165,206.0,2017
133,YEMEN,TheRepublicofYemen,.ye,YE,YEM,105,10158000,2019 est.,44,34449825,...,65,527970,-29914,3.6,19.0,37 %,0.43 %,166,167.0,2017
134,ZAMBIA,TheRepublicofZambia,.zm,ZM,ZMB,127,6798000,2019 est.,63,20569737,...,28,743390,-5000,4.2,17.0,46 %,0.26 %,94,1020.0,2017
135,ZIMBABWE,TheRepublicofZimbabwe,.zw,ZW,ZWE,115,7902000,2019 est.,74,16665409,...,43,386850,-9999,3.4,18.0,37 %,0.21 %,118,657.0,2017

In [63]:
merge_result1.columns=merge_result1.columns.str.replace(" ", "_")
merge_result1

,Country,Officialstatename,InternetccTLD,iso2,iso3,Rank_x,metric_tonnes_of_CO2,Date_of_Information,#,Population__(2023),...,Density__(P/Km²),Land_Area__(Km²),Migrants__(net),Fert.__Rate,Med.__Age,Urban__Pop_%,World__Share,Rank_y,Value,Year
0,AFGHANISTAN,TheIslamicRepublicofAfghanistan,.af,AF,AFG,117,7893000,2019 est.,36,42239854,...,65,652860,-65846,4.4,17.0,26 %,0.53 %,151,327.0,2017
1,ALBANIA,TheRepublicofAlbania,.al,AL,ALB,144,3794000,2019 est.,138,2832439,...,103,27400,-8000,1.4,38.0,67 %,0.04 %,60,1485.0,2017
2,ALGERIA,ThePeople'sDemocraticRepublicofAlgeria,.dz,DZ,DZA,34,151633000,2019 est.,34,45606480,...,19,2381740,-9999,2.8,28.0,75 %,0.57 %,173,89.0,2017
3,ANGOLA,TheRepublicofAngola,.ao,AO,AGO,84,19362000,2019 est.,42,36684202,...,29,1246700,-1000,5.1,16.0,68 %,0.46 %,95,1010.0,2017
4,ANTIGUA AND BARBUDA,AntiguaandBarbuda,.ag,AG,ATG,182,729000,2019 est.,200,94298,...,214,440,0,1.6,36.0,28 %,0.00 %,91,1030.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,URUGUAY,TheOrientalRepublicofUruguay,.uy,UY,URY,129,6450000,2019 est.,135,3423108,...,20,175020,-1500,1.5,36.0,99 %,0.04 %,69,1300.0,2017
132,UZBEKISTAN,TheRepublicofUzbekistan,.uz,UZ,UZB,42,102965000,2019 est.,43,35163944,...,83,425400,-19999,2.8,27.0,49 %,0.44 %,165,206.0,2017
133,YEMEN,TheRepublicofYemen,.ye,YE,YEM,105,10158000,2019 est.,44,34449825,...,65,527970,-29914,3.6,19.0,37 %,0.43 %,166,167.0,2017
134,ZAMBIA,TheRepublicofZambia,.zm,ZM,ZMB,127,6798000,2019 est.,63,20569737,...,28,743390,-5000,4.2,17.0,46 %,0.26 %,94,1020.0,2017
135,ZIMBABWE,TheRepublicofZimbabwe,.zw,ZW,ZWE,115,7902000,2019 est.,74,16665409,...,43,386850,-9999,3.4,18.0,37 %,0.21 %,118,657.0,2017

In [64]:
merge_result1.columns

Index(['Country', 'Officialstatename', 'InternetccTLD', 'iso2', 'iso3',
       'Rank_x', 'metric_tonnes_of_CO2', 'Date_of_Information', '#',
       'Population__(2023)', 'Yearly__Change', 'Net__Change',
       'Density__(P/Km²)', 'Land_Area__(Km²)', 'Migrants__(net)',
       'Fert.__Rate', 'Med.__Age', 'Urban__Pop_%', 'World__Share', 'Rank_y',
       'Value', 'Year'],
      dtype='object')

In [65]:
merge_result1.columns.to_list()

['Country',
 'Officialstatename',
 'InternetccTLD',
 'iso2',
 'iso3',
 'Rank_x',
 'metric_tonnes_of_CO2',
 'Date_of_Information',
 '#',
 'Population__(2023)',
 'Yearly__Change',
 'Net__Change',
 'Density__(P/Km²)',
 'Land_Area__(Km²)',
 'Migrants__(net)',
 'Fert.__Rate',
 'Med.__Age',
 'Urban__Pop_%',
 'World__Share',
 'Rank_y',
 'Value',
 'Year']

In [69]:
merge_result1.rename(columns={'metric_tonnes_of_CO2':"co2 (Ton)"},inplace=True)
merge_result1

,Country,Officialstatename,InternetccTLD,iso2,iso3,Rank_x,co2 (Ton),Date_of_Information,#,Population__(2023),...,Density__(P/Km²),Land_Area__(Km²),Migrants__(net),Fert.__Rate,Med.__Age,Urban__Pop_%,World__Share,Rank_y,Value,Year
0,AFGHANISTAN,TheIslamicRepublicofAfghanistan,.af,AF,AFG,117,7893000,2019 est.,36,42239854,...,65,652860,-65846,4.4,17.0,26 %,0.53 %,151,327.0,2017
1,ALBANIA,TheRepublicofAlbania,.al,AL,ALB,144,3794000,2019 est.,138,2832439,...,103,27400,-8000,1.4,38.0,67 %,0.04 %,60,1485.0,2017
2,ALGERIA,ThePeople'sDemocraticRepublicofAlgeria,.dz,DZ,DZA,34,151633000,2019 est.,34,45606480,...,19,2381740,-9999,2.8,28.0,75 %,0.57 %,173,89.0,2017
3,ANGOLA,TheRepublicofAngola,.ao,AO,AGO,84,19362000,2019 est.,42,36684202,...,29,1246700,-1000,5.1,16.0,68 %,0.46 %,95,1010.0,2017
4,ANTIGUA AND BARBUDA,AntiguaandBarbuda,.ag,AG,ATG,182,729000,2019 est.,200,94298,...,214,440,0,1.6,36.0,28 %,0.00 %,91,1030.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,URUGUAY,TheOrientalRepublicofUruguay,.uy,UY,URY,129,6450000,2019 est.,135,3423108,...,20,175020,-1500,1.5,36.0,99 %,0.04 %,69,1300.0,2017
132,UZBEKISTAN,TheRepublicofUzbekistan,.uz,UZ,UZB,42,102965000,2019 est.,43,35163944,...,83,425400,-19999,2.8,27.0,49 %,0.44 %,165,206.0,2017
133,YEMEN,TheRepublicofYemen,.ye,YE,YEM,105,10158000,2019 est.,44,34449825,...,65,527970,-29914,3.6,19.0,37 %,0.43 %,166,167.0,2017
134,ZAMBIA,TheRepublicofZambia,.zm,ZM,ZMB,127,6798000,2019 est.,63,20569737,...,28,743390,-5000,4.2,17.0,46 %,0.26 %,94,1020.0,2017
135,ZIMBABWE,TheRepublicofZimbabwe,.zw,ZW,ZWE,115,7902000,2019 est.,74,16665409,...,43,386850,-9999,3.4,18.0,37 %,0.21 %,118,657.0,2017

In [70]:
merge_result1.rename(columns={'Land_Area__(Km²)':"area (Km²)"},inplace=True)
merge_result1

,Country,Officialstatename,InternetccTLD,iso2,iso3,Rank_x,co2 (Ton),Date_of_Information,#,Population__(2023),...,Density__(P/Km²),area (Km²),Migrants__(net),Fert.__Rate,Med.__Age,Urban__Pop_%,World__Share,Rank_y,Value,Year
0,AFGHANISTAN,TheIslamicRepublicofAfghanistan,.af,AF,AFG,117,7893000,2019 est.,36,42239854,...,65,652860,-65846,4.4,17.0,26 %,0.53 %,151,327.0,2017
1,ALBANIA,TheRepublicofAlbania,.al,AL,ALB,144,3794000,2019 est.,138,2832439,...,103,27400,-8000,1.4,38.0,67 %,0.04 %,60,1485.0,2017
2,ALGERIA,ThePeople'sDemocraticRepublicofAlgeria,.dz,DZ,DZA,34,151633000,2019 est.,34,45606480,...,19,2381740,-9999,2.8,28.0,75 %,0.57 %,173,89.0,2017
3,ANGOLA,TheRepublicofAngola,.ao,AO,AGO,84,19362000,2019 est.,42,36684202,...,29,1246700,-1000,5.1,16.0,68 %,0.46 %,95,1010.0,2017
4,ANTIGUA AND BARBUDA,AntiguaandBarbuda,.ag,AG,ATG,182,729000,2019 est.,200,94298,...,214,440,0,1.6,36.0,28 %,0.00 %,91,1030.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,URUGUAY,TheOrientalRepublicofUruguay,.uy,UY,URY,129,6450000,2019 est.,135,3423108,...,20,175020,-1500,1.5,36.0,99 %,0.04 %,69,1300.0,2017
132,UZBEKISTAN,TheRepublicofUzbekistan,.uz,UZ,UZB,42,102965000,2019 est.,43,35163944,...,83,425400,-19999,2.8,27.0,49 %,0.44 %,165,206.0,2017
133,YEMEN,TheRepublicofYemen,.ye,YE,YEM,105,10158000,2019 est.,44,34449825,...,65,527970,-29914,3.6,19.0,37 %,0.43 %,166,167.0,2017
134,ZAMBIA,TheRepublicofZambia,.zm,ZM,ZMB,127,6798000,2019 est.,63,20569737,...,28,743390,-5000,4.2,17.0,46 %,0.26 %,94,1020.0,2017
135,ZIMBABWE,TheRepublicofZimbabwe,.zw,ZW,ZWE,115,7902000,2019 est.,74,16665409,...,43,386850,-9999,3.4,18.0,37 %,0.21 %,118,657.0,2017

In [71]:
merge_result1.rename(columns={'Value':"Precipitation (mm)"},inplace=True)
merge_result1

,Country,Officialstatename,InternetccTLD,iso2,iso3,Rank_x,co2 (Ton),Date_of_Information,#,Population__(2023),...,Density__(P/Km²),area (Km²),Migrants__(net),Fert.__Rate,Med.__Age,Urban__Pop_%,World__Share,Rank_y,Precipitation (mm),Year
0,AFGHANISTAN,TheIslamicRepublicofAfghanistan,.af,AF,AFG,117,7893000,2019 est.,36,42239854,...,65,652860,-65846,4.4,17.0,26 %,0.53 %,151,327.0,2017
1,ALBANIA,TheRepublicofAlbania,.al,AL,ALB,144,3794000,2019 est.,138,2832439,...,103,27400,-8000,1.4,38.0,67 %,0.04 %,60,1485.0,2017
2,ALGERIA,ThePeople'sDemocraticRepublicofAlgeria,.dz,DZ,DZA,34,151633000,2019 est.,34,45606480,...,19,2381740,-9999,2.8,28.0,75 %,0.57 %,173,89.0,2017
3,ANGOLA,TheRepublicofAngola,.ao,AO,AGO,84,19362000,2019 est.,42,36684202,...,29,1246700,-1000,5.1,16.0,68 %,0.46 %,95,1010.0,2017
4,ANTIGUA AND BARBUDA,AntiguaandBarbuda,.ag,AG,ATG,182,729000,2019 est.,200,94298,...,214,440,0,1.6,36.0,28 %,0.00 %,91,1030.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,URUGUAY,TheOrientalRepublicofUruguay,.uy,UY,URY,129,6450000,2019 est.,135,3423108,...,20,175020,-1500,1.5,36.0,99 %,0.04 %,69,1300.0,2017
132,UZBEKISTAN,TheRepublicofUzbekistan,.uz,UZ,UZB,42,102965000,2019 est.,43,35163944,...,83,425400,-19999,2.8,27.0,49 %,0.44 %,165,206.0,2017
133,YEMEN,TheRepublicofYemen,.ye,YE,YEM,105,10158000,2019 est.,44,34449825,...,65,527970,-29914,3.6,19.0,37 %,0.43 %,166,167.0,2017
134,ZAMBIA,TheRepublicofZambia,.zm,ZM,ZMB,127,6798000,2019 est.,63,20569737,...,28,743390,-5000,4.2,17.0,46 %,0.26 %,94,1020.0,2017
135,ZIMBABWE,TheRepublicofZimbabwe,.zw,ZW,ZWE,115,7902000,2019 est.,74,16665409,...,43,386850,-9999,3.4,18.0,37 %,0.21 %,118,657.0,2017

In [72]:
merge_result1.columns.to_list()

['Country',
 'Officialstatename',
 'InternetccTLD',
 'iso2',
 'iso3',
 'Rank_x',
 'co2 (Ton)',
 'Date_of_Information',
 '#',
 'Population__(2023)',
 'Yearly__Change',
 'Net__Change',
 'Density__(P/Km²)',
 'area (Km²)',
 'Migrants__(net)',
 'Fert.__Rate',
 'Med.__Age',
 'Urban__Pop_%',
 'World__Share',
 'Rank_y',
 'Precipitation (mm)',
 'Year']

In [73]:
columnas_a_mantener = ['Country','Officialstatename','InternetccTLD','iso2','iso3','co2 (Ton)','area (Km²)','Precipitation (mm)']
merge_result1=merge_result1[columnas_a_mantener]

In [74]:
merge_result1

,Country,Officialstatename,InternetccTLD,iso2,iso3,co2 (Ton),area (Km²),Precipitation (mm)
0,AFGHANISTAN,TheIslamicRepublicofAfghanistan,.af,AF,AFG,7893000,652860,327.0
1,ALBANIA,TheRepublicofAlbania,.al,AL,ALB,3794000,27400,1485.0
2,ALGERIA,ThePeople'sDemocraticRepublicofAlgeria,.dz,DZ,DZA,151633000,2381740,89.0
3,ANGOLA,TheRepublicofAngola,.ao,AO,AGO,19362000,1246700,1010.0
4,ANTIGUA AND BARBUDA,AntiguaandBarbuda,.ag,AG,ATG,729000,440,1030.0
...,...,...,...,...,...,...,...,...
131,URUGUAY,TheOrientalRepublicofUruguay,.uy,UY,URY,6450000,175020,1300.0
132,UZBEKISTAN,TheRepublicofUzbekistan,.uz,UZ,UZB,102965000,425400,206.0
133,YEMEN,TheRepublicofYemen,.ye,YE,YEM,10158000,527970,167.0
134,ZAMBIA,TheRepublicofZambia,.zm,ZM,ZMB,6798000,743390,1020.0
135,ZIMBABWE,TheRepublicofZimbabwe,.zw,ZW,ZWE,7902000,386850,657.0

In [75]:
merge_result1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             136 non-null    object
 1   Officialstatename   136 non-null    object
 2   InternetccTLD       136 non-null    object
 3   iso2                135 non-null    object
 4   iso3                136 non-null    object
 5   co2 (Ton)           136 non-null    int64
 6   area (Km²)          136 non-null    int64
 7   Precipitation (mm)  136 non-null    float64
dtypes: float64(1), int64(2), object(5)
memory usage: 8.6+ KB